h3 {
    font-style: italic;
}

.jumbotron {
    background-color: #971e31; 
    color: #a8a3a3;
    opacity: .9;
}

.card-header {
    background-color: #971e31;
    font-weight: bold;
}

.card {
    opacity: .9;
}


.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

body {
    background-image: url("../images/tracks.jpg");
    /* background-size: 70%; */
}